.gradle
.idea
*.iml
*.iws
*.ipr
build/
app/build/
.gradle/
local.properties
.DS_Store
*.log
/bin/
/.externalNativeBuild
/cmake
/\.cxx
*.apk
*.ap_
*.pb
app/src/test
app/src/androidTest
app/src/test
app/manifests